@model CarService.Mvc.Models.Customer

<h3>Delete Customer</h3>

<div class="alert alert-warning">
    Сигурен ли си, че искаш да изтриеш клиент <b>@Model.FirstName @Model.LastName</b>?
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
